@model IEnumerable<Agricathon_gr3.Models.Anwser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questionnaire.NameQuestionnaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.NameQuestion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
